In [4]:
#spiral matricx 
#Given an m x n matrix, return all elements of the matrix in spiral order.

matrix = [[1,2,3],
[4,5,6],
[7,8,9]]
#Output: [1,2,3,6,9,8,7,4,5]

# def printSpiral(mat, top, bottom, left, right):
 
    # base case
    if not mat or not len(mat) or left > right:
        return
 
    # print top row
    for i in range(left, right + 1):
        print(mat[top][i], end=' ')
 
    top = top + 1
 
    if top > bottom:
        return
 
    # print right column
    for i in range(top, bottom + 1):
        print(mat[i][right], end=' ')
 
    right = right - 1
 
    if left > right:
        return
 
    # print bottom row
    for i in range(right, left - 1, -1):
        print(mat[bottom][i], end=' ')
 
    bottom = bottom - 1
 
    if top > bottom:
        return
 
    # print left column
    for i in range(bottom, top - 1, -1):
        print(mat[i][left], end=' ')
 
    left = left + 1
 
    printSpiral(mat, top, bottom, left, right)

In [7]:
if __name__ == '__main__':
 
    mat = [
        [1, 2, 3, 4, 5],
        [16, 17, 18, 19, 6],
        [15, 24, 25, 20, 7],
        [14, 23, 22, 21, 8],
        [13, 12, 11, 10, 9]
    ]
 
    top = 0
    bottom = len(mat) - 1
    left = 0
    right = len(mat[0]) - 1

 
    printSpiral(mat, top, bottom, left, right)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [28]:
#Given an array of integers nums, sort the array in ascending order.
import numpy as np
nums = [1,4,2,3,5]

#leet code answer
import numpy
def sortArray(nums):
    nums = np.sort(nums)
    #reverse
    #nums = sorted(nums, reverse=True)
    return nums

sortArray(nums)

array([1, 2, 3, 4, 5])

In [68]:
#Two Sum in array 

nums = [6,1,3,2]
target = 9

def twoSum(nums, target):
    for i in range(len(nums)):
        for j in range(i + 1, len(nums)):
                if nums[j] == target - nums[i]:
                    return [i, j]
    
twoSum(nums, target)

[0, 2]

In [74]:
#Longest Substring w Unique Char | Python | Sliding Window | O(n)
class Solution:
    def lengthOfLongestSubstring(self, s: str) -> int:
        freq_map ={}
        window_start, max_len = 0,0
        
        for i in range(len(s)):
            
            if s[i] in freq_map:
                window_start = max(window_start, freq_map[s[i]] + 1)
            
            freq_map[s[i]] = i
            
            max_len = max(max_len, i - window_start +1)
            
        return max_len

In [78]:
#has duplicate in array
nums = [1,2,3,1,7, 9, 3,2]
def containsDuplicate(nums):        
    nums = sorted(nums)
    for i in range (len(nums)-1):
        if nums[i] == nums[i + 1]:
            return True
        return False

containsDuplicate(nums)
# if len(set(nums)) < len(nums)
# else False

True

In [84]:
#has duplicates 
def unique(s):
    return True if len(set(s)) < len(s) else False
    
unique(nums)

True

In [101]:
#check if palindrome
def ispalindrome(word):
    return word == word[::-1]
ispalindrome('racecar')

True

In [96]:
#The Fibonacci sequence begins with the following 14 integers:
#0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233 ...

# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms?  7

Fibonacci sequence:
0
1
1
2
3
5
8

In [99]:
def solve(n):
   if n <= 2:
      return n - 1
   else:
      return solve(n - 1) + solve(n - 2)

n = 13
print(solve(n))

144

In [100]:
#data manipulation

“You are given a table containing assignment scores of students in a class. Write a query that identifies the largest difference in total score of all assignments. Output just the difference in total score between the two students.”

In [ ]:
import pandas as pd
import numpy as np
box_scores['total_score'] = box_scores['assignment1']+box_scores['assignment2']+box_scores['assignment3']
box_scores['total_score'].max() - box_scores['total_score'].min()

“Find the median inspection score of each business and output the result along with the business name. Order records based on the inspection score in descending order. Try to come up with your own precise median calculation. In Postgres there is `percentile_disc` function available, however it's only approximation.”

In [ ]:
# Import your libraries
import pandas as pd
import numpy as np
# Start writing code
#sf_restaurant_health_violations.head()
df_test2 = sf_restaurant_health_violations[sf_restaurant_health_violations[['business_name','inspection_score']].notnull().all(1)]
df_test2 = df_test2[['business_name','inspection_score']]
df_test2['inspection_score'] = df_test2['inspection_score'].astype(int)
# df_test2 = df_test2.groupby('business_name').inspection_score.apply(np.median).reset_index()
df_test2 = df_test2.groupby('business_name', as_index=False)['inspection_score'].agg('median')
df_test2 = df_test2.sort_values(by='inspection_score', ascending=False)

Find the titles of workers that earn the highest salary. Output the highest-paid title or multiple titles that share the highest salary.

In [ ]:
# worker.head()
# title.head()
# worker_title = pd.merge(worker, title, left_on=['worker_id'], right_on=['worker_ref_id'], how='inner')
# answer = worker_title[worker_title['salary']==worker_title['salary'].max()]
# answer = answer[['worker_title']]
# answer

Find employees who are earning more than their managers. Output the employee's first name along with the corresponding salary.

In [ ]:
combo = pd.merge(employee, employee, left_on='manager_id',right_on='id')
combo[combo['salary_x'] > combo['salary_y']][['first_name_x', 'salary_x']]

Given a list of projects and employees mapped to each project, calculate by the amount of project budget allocated to each employee . The output should include the project title and the project budget rounded to the closest integer. Order your list by projects with the highest budget per employee first.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
#ms_projects.head()
ms_emp_projects.head()
combo = pd.merge(ms_projects, ms_emp_projects, left_on='id', right_on='project_id', how='inner')
df1 = combo.groupby(['title', 'budget'])['emp_id'].size().reset_index()
#df1['budget']/df1['emp_id']).round(0)
df1['ratio'] = ((df1['budget']/df1['emp_id']).round(0))
df1 = df1.sort_values(by='ratio', ascending=False)
df1[['title', 'budget', 'ratio']]
#df_test2 = df_test2.groupby('business_name', as_index=False)['inspection_score'].agg('median')

We have a table with employees and their salaries, however, some of the records are old and contain outdated salary information. Find the current salary of each employee assuming that salaries increase each year. Output their id, first name, last name, department ID, and current salary. Order your list by employee ID in ascending order.

In [ ]:
salary_sorted = ms_employee_salary.sort_values(by="salary", ascending=False)
salary_sorted.drop_duplicates(subset = ['id'], keep = 'first').sort_values(by='id',ascending=True)

Find the number of employees who received the bonus and who didn't.
Output an indication of whether the bonus was received or not along with the corresponding number of employees.
ex: if the bonus was received: 1, if not: 0.

In [ ]:
import numpy as np
# Start writing code
bonus_workers = pd.merge(employee, bonus, left_on='id', right_on='worker_ref_id', how='outer')

bonus_workers['get_bonus'] = np.where(bonus_workers['bonus_amount'].notnull(), True, False)
bonus_workers = bonus_workers.drop_duplicates(subset=['id'])
bonus_workers.groupby('get_bonus')['id'].agg('count')

Unique Users Per Client Per Month

In [ ]:
fact_events.groupby([fact_events['client_id'], fact_events['time_id'].dt.month])['user_id'].nunique().reset_index()

Number of records by variety 
Find the total number of records that belong to each variety in the dataset. Output the variety along with the corresponding number of records. Order records by the variety in ascending order.

In [ ]:
iris.groupby('variety').agg('count').reset_index().sort_values(by='variety', ascending=True)

Users Exclusive Per Client

Write a query that returns a number of users who are exclusive to only one client. Output the client_id and number of exclusive users.

In [ ]:
import pandas as pd

fact_events['n_clients'] = fact_events.groupby('user_id')['client_id'].transform('nunique')
result = fact_events[fact_events['n_clients']==1].groupby(['client_id'])['user_id'].nunique().reset_index()

Bottom 2 Companies By Mobile Usage

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
mobile = fact_events[fact_events['client_id'] == 'mobile']
events = mobile.groupby('customer_id')['event_type'].count().reset_index()
events_mobile = events.sort_values(by='event_type')
events_mobile['rank'] = events_mobile['event_type'].rank(method='dense')

events_mobile[events_mobile['rank']<=2][['customer_id','event_type']]

Top Company Where Users Use Desktop Only
Write a query that returns the company (customer id column) with highest number of users that use desktop only.

In [ ]:
fact_events['n_clients'] = fact_events.groupby('user_id')['client_id'].transform('nunique')
fact_events_one = fact_events[fact_events['n_clients'] == 1]

desktop = fact_events_one[fact_events_one['client_id']=='desktop']
desktop_only = desktop.groupby('customer_id')['client_id'].count().reset_index()
desktop_only[['customer_id']]

In [ ]:
#code to pull data from kafka cluster/topic
# Databricks notebook source
confluentApiKey = 'putkeyhere'
# proper way to store secrets as FYI 
# dbutils.secrets.get(scope = "confluent-cloud", key = "api-key")
confluentSecret = 'putsecret here'
# how you should really store secrets in prod
# dbutils.secrets.get(scope = "confluent-cloud", key = "secret")
confluentClusterName = "cluster-name-here"
confluentBootstrapServers = "boostrapserver-name-here:9092"
confluentTopicName = "put-your-topic-name-here"

# COMMAND ----------

import pyspark.sql.functions as fn
from pyspark.sql.types import StringType
 
binary_to_string = fn.udf(lambda x: str(int.from_bytes(x, byteorder='big')), StringType())
 
confluentStreamDF = (
  spark
  .readStream
  .format("kafka")
  .option("kafka.bootstrap.servers", confluentBootstrapServers)
  .option("kafka.security.protocol", "SASL_SSL")
  .option("kafka.sasl.jaas.config", "kafkashaded.org.apache.kafka.common.security.plain.PlainLoginModule required username='{}' password='{}';".format(confluentApiKey, confluentSecret))
  .option("kafka.ssl.endpoint.identification.algorithm", "https")
  .option("kafka.sasl.mechanism", "PLAIN")
  .option("subscribe", confluentTopicName)
  .option("startingOffsets", "earliest")
  .option("failOnDataLoss", "false")
  .load()
  .withColumn('key', fn.col("key").cast(StringType()))
  .withColumn('value', fn.col("value").cast(StringType()))
)

# COMMAND ----------

display(confluentStreamDF)

In [266]:
from nltk import word_tokenize
from nltk.util import ngrams


string_test = 'abcdefg'
def ngrams(words, n):
    print('bi-grams: ','#'+words[0]+',',
          (','.join([words[i:i+n] for i in range(len(words)-n+1)])),
          ','+words[-1]+'$')
    
ngrams(string_test, 2)

bi-grams:  #a, ab,bc,cd,de,ef,fg ,g$

In [271]:
string_test = 'abcdefg'

def ngrams2(words, n):
    for i in range(len(words)):
                   return (words[0],[words[i:i+n]], words[-1])
    #for i in range(len(words)):
        #for j in range(i+1, len(words)):
               #return ([words[i:i+n] for i in range(len(words)-n+1)])
    
    #return ([words[i:i+n] for i in range(len(words)-n+1)])
    #return ([words[i:i+n] for i in range(len(words)-n+1)])
        


     
        
        
                   #
                    #print([words[i,j]])

ngrams2(string_test, 2)

('a', ['ab'], 'g')

In [136]:
answer = [5,4,3]

def patho(numbers):
    numbers.sort()
    for i in range(len(numbers)):
                   for j in range(i+1, len(numbers)):
                       for k in range(j+1, len(numbers)):
                        if numbers[i]**2+numbers[j]**2 == numbers[k]**2:
                            return True
    return False
                        
                        #else False

    
    #return numbers[0]^2+numbers[1]^2==numbers[2]^2

patho(answer)

True

In [143]:
#lambda functions 

#add_two = lambda my_input: my_input + 2
#print(add_two(3))

#check if you got an A
# check_if_A_grade = lambda grade: 'Got an A!' if grade >= 90 else "No A"
# print(check_if_A_grade(90.1))

#ends in a
#Write your lambda function here
ends_in_a = lambda ends_in_a: ends_in_a[-1] =="a"

print(ends_in_a("data"))
print(ends_in_a("aardvark"))

Got an A!

In [144]:
#Write your lambda function here
#Create a lambda function named even_or_odd that takes an integer named num. If num is even, return "even". If num is odd, return "odd".
even_or_odd = lambda num: "even" if num % 2 == 0 else "odd"


print(even_or_odd(10))
print(even_or_odd(5))

even
odd

In [147]:
#numpy arrays 
import numpy as np
toyPrices = np.array([5,8,3,6])
print(toyPrices-2)

[3 6 1 4]

In [164]:
toyPrices = [5,8,3,6]

for i in range(len(toyPrices)):
        toyPrices[i] -= 2

print(toyPrices)

[3, 6, 1, 4]

In [167]:
import pandas as pd
ages = np.array([13,25,19])

series1 = pd.Series(ages, index=['Emma', 'Swetha', 'Serajh'])
print(series1)

Emma      13
Swetha    25
Serajh    19
dtype: int64

In [169]:
dataf = pd.DataFrame([
    ['John Smith','123 Main St',34],
    ['Jane Doe', '456 Maple Ave',28],
    ['Joe Schmo', '789 Broadway',51]
    ],
    columns=['name','address','age'])
dataf

         name        address  age
0  John Smith    123 Main St   34
1    Jane Doe  456 Maple Ave   28
2   Joe Schmo   789 Broadway   51